
<click-me></click-me>
<h3>keyup loop-back component</h3>
<key-up1></key-up1>
<h3>type away press [enter] when done</h3>
<key-up2></key-up2>
<h3>give me some keys!</h3>
<key-up3></key-up3>

<h3>little tour of heroes</h3>
<little-tour></little-tour>